node_modules
.pnp
.pnp.js

.next/
out/
build/

.env
.env*.local
.env.production

.DS_Store
*.pem
*.log
npm-debug.log*

.vercel

*.tsbuildinfo
next-env.d.ts

prisma/migrations/dev.db*

.idea/
.vscode/

/runs/
lib/generated/
